<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>controler</servlet-name>
        <servlet-class>controler.controler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>signupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageItem</servlet-name>
        <servlet-class>manageItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>controler.signUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controler.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageComponent</servlet-name>
        <servlet-class>controler.ManageComponent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addstock</servlet-name>
        <servlet-class>controler.Addstock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageItems</servlet-name>
        <servlet-class>controler.ManageItems</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controler</servlet-name>
        <url-pattern>/controler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageItem</servlet-name>
        <url-pattern>/manageItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageComponent</servlet-name>
        <url-pattern>/ManageComponent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addstock</servlet-name>
        <url-pattern>/Addstock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageItems</servlet-name>
        <url-pattern>/ManageItems</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
</web-app>
